# django-mcadmin
# .pre-commit-config.yaml


repos:
- repo: local
  hooks:
    - id: seed-isort-config
      name: seed-isort-config
      stages: [commit]
      language: system
      pass_filenames: false
      entry: pipenv run seed-isort-config
      types: [python]
    - id: removestar
      name: removestar
      stages: [commit]
      language: system
      entry: pipenv run removestar -i mcadmin tests
      types: [python]
    - id: isort
      name: isort
      stages: [commit]
      language: system
      entry: pipenv run isort
      types: [python]
    - id: black
      name: black
      stages: [commit]
      language: system
      entry: pipenv run black mcadmin tests
      types: [python]
      language_version: python3.8
    - id: flake8
      name: flake8
      stages: [commit]
      language: system
      entry: bash -c 'PYTHONPATH="$PYTHONPATH:$PWD" pipenv run flake8 --mypy-config=setup.cfg'
      types: [python]
    - id: interrogate
      name: interrogate
      stages: [commit]
      language: system
      entry: interrogate mcadmin tests -I -M
      types: [python]
    - id: pylint
      name: pylint
      stages: [commit]
      language: system
      entry: pipenv run pylint mcadmin tests
      types: [python]
    - id: bandit
      name: bandit
      stages: [commit]
      language: system
      entry: pipenv run bandit -r mcadmin tests --ini=.bandit
      types: [python]
      pass_filenames: false
    - id: dodgy
      name: dodgy
      stages: [commit]
      language: system
      entry: pipenv run dodgy
      types: [python]
      pass_filenames: false
    - id: mypy
      name: mypy
      stages: [commit]
      language: system
      entry: bash -c 'PYTHONPATH="$PYTHONPATH:$PWD" pipenv run mypy'
      types: [python]
      pass_filenames: false
    - id: check-manifest
      name: check-manifest
      stages: [commit]
      language: system
      pass_filenames: false
      entry: pipenv run check-manifest
      types: [python]
    - id: pyroma
      name: pyroma
      stages: [commit]
      language: system
      pass_filenames: false
      entry: pipenv run pyroma -d .
      types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
