include README.rst
include mcadmin/templates/mcadmin/includes/command.html
include mcadmin/templates/mcadmin/includes/group.html
include mcadmin/templates/mcadmin/includes/breadcrumbs.html
include mcadmin/templates/mcadmin/includes/content.html
include mcadmin/templates/mcadmin/includes/file.html
include mcadmin/templates/mcadmin/includes/form.html
include mcadmin/templates/mcadmin/includes/field.html
include mcadmin/templates/mcadmin/index.html
include mcadmin/locale/en/LC_MESSAGES/django.po
include mcadmin/locale/en/LC_MESSAGES/django.mo
include mcadmin/locale/ru/LC_MESSAGES/django.po
include mcadmin/locale/ru/LC_MESSAGES/django.mo
