# django-mcadmin
# MANIFEST.in


prune tests*
include README.rst
include COPYING
include AUTHORS
include mcadmin/templates/mcadmin/includes/command.html
include mcadmin/templates/mcadmin/includes/group.html
include mcadmin/templates/mcadmin/includes/breadcrumbs.html
include mcadmin/templates/mcadmin/includes/content.html
include mcadmin/templates/mcadmin/includes/file.html
include mcadmin/templates/mcadmin/includes/form.html
include mcadmin/templates/mcadmin/includes/field.html
include mcadmin/templates/mcadmin/index.html
recursive-include mcadmin *.po
recursive-include mcadmin *.mo
