{# django-mcadmin #}
{# mcadmin/templates/mcadmin/includes/command.html #}

{% load i18n %}
{% load url from future %}

<form action="{% url "mcadmin-index" %}" method="post" name="{{ command.command }}" id="id-{{ command.command }}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <fieldset class="module aligned extrapretty wide">
            <h2>{{ command.name }}</h2>
            {% include "mcadmin/includes/form.html" %}
        </fieldset>
        <div class="submit-row">
            <p class="deletelink-box"><input name="{{ command.command }}" type="submit" value="{{ command.command }}" class="default"/></p>
        </div>
    </div>
</form>
