{# django-mcadmin #}
{# mcadmin/templates/mcadmin/includes/form.html #}


{% load i18n %}


{% if command.form %}
    {% if name == COMMAND_NAME %}
        {% for field in FORM %}
            {% include "mcadmin/includes/field.html" %}
        {% endfor %}
    {% else %}
        {% for field in command.form %}
            {% include "mcadmin/includes/field.html" %}
        {% endfor %}
    {% endif %}
    {% for file in command.example %}
        {% include "mcadmin/includes/example-file.html" %}
    {% endfor %}
{% else %}
    <p class="help">{% trans "Management command does not require additional options" %}</p>
{% endif %}
