{# django-mcadmin #}
{# mcadmin/templates/mcadmin/includes/group.html #}


{% load i18n %}

{% if group.commands.all %}
    <div id="{{ group.name|lower }}">
        <table summary="{{ group.name }}">
            <caption><a href="#{{ group.name|lower }}">{{ group.name }}</a></caption>
            <tbody>
                {% for command in group.commands.all %}
                    <tr>
                        <th scope="row">
                            {# TODO: deal with command from group. #}
                            {% with command.command as command %}
                                {% include "mcadmin/includes/command.html" %}
                            {% endwith %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
