{# django-mcadmin #}
{# mcadmin/templates/mcadmin/includes/group.html #}


{% load i18n %}


<div id="{% if group %}{{ group.name|lower }}{% else %}other{% endif %}">
    <table summary="{% if group %}{{ group.name|lower }}{% else %}other{% endif %}">
        <caption><a href="#{% if group %}{{ group.name|lower }}{% else %}other{% endif %}">{% if group %}{{ group.name }}{% else %}{% trans "Other" %}{% endif %}</a></caption>
        <tbody>
            {% for name, command in commands.items %}
                <tr>
                    <th scope="row">
                        {% include "mcadmin/includes/command.html" %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
